.light {
  .syntaxhighlighter {
    background-color: white !important;
    .line {
      &.alt1 { background-color: white !important; }
      &.alt2 { background-color: white !important; }
      &.highlighted {
        &.alt1, &.alt2 { background-color: #e0e0e0 !important; }
        &.number { color: black !important; }
      }
    }

    table caption { color: black !important; }

    .gutter {
      color: #afafaf !important;
      .line {
        border-right: 3px solid #6ce26c !important;
        &.highlighted {
          background-color: #6ce26c !important;
          color: white !important;
        }
      }
    }

    &.printing .line .content { border: none !important; }

    &.collapsed {
      overflow: visible !important;
      .toolbar {
        color: blue !important;
        background: white !important;
        border: 1px solid #6ce26c !important;
        a {
          color: blue !important;
          &:hover { color: red !important; }
        }
      }
    }

    .toolbar {
      color: white !important;
      background: #6ce26c !important;
      border: none !important;
      a {
        color: white !important;
        &:hover { color: black !important; }
      }
    }

    .plain, .plain a { color: black !important; }
    .comments, .comments a { color: #008200 !important; }
    .string, .string a { color: blue !important; }
    .keyword { color: #006699 !important; }
    .preprocessor { color: gray !important; }
    .variable { color: #aa7700 !important; }
    .value { color: #009900 !important; }
    .functions { color: #ff1493 !important; }
    .constants { color: #0066cc !important; }

    .script {
      font-weight: bold !important;
      color: #006699 !important;
      background-color: none !important;
    }

    .color1, .color1 a { color: gray !important; }
    .color2, .color2 a { color: #ff1493 !important; }
    .color3, .color3 a { color: red !important; }
    .keyword { font-weight: bold !important; }
  }
}
