@import url(normalize.min.css);
/* line 1, ../sass/fonts.scss */
body {
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'ChunkFive';
  src: url("fonts/chunkfive/chunkfive.eot");
  src: url("fonts/chunkfive/chunkfive.eot?#iefix") format("embedded-opentype"), url("fonts/chunkfive/chunkfive.woff") format("woff"), url("fonts/chunkfive/chunkfive.ttf") format("truetype"), url("fonts/chunkfive/chunkfive.svg#ChunkFiveRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'entypo';
  src: url("fonts/entypo/entypo.eot");
  src: url("fonts/entypo/entypo.eot?#iefix") format("embedded-opentype"), url("fonts/entypo/entypo.woff") format("woff"), url("fonts/entypo/entypo.ttf") format("truetype"), url("fonts/entypo/entypo.svg#entypo") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 27, ../sass/fonts.scss */
[data-icon]:before {
  font-family: entypo;
  content: attr(data-icon);
  speak: none;
}

/* line 2, ../sass/_nav.scss */
header nav {
  width: 75%;
  margin: 0 auto 1em;
  border-bottom: 1px solid #bbbbbb;
  -webkit-box-shadow: 0 1px 0 white;
  -moz-box-shadow: 0 1px 0 white;
  box-shadow: 0 1px 0 white;
}
/* line 8, ../sass/_nav.scss */
header nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  overflow: visible;
  padding: 8px 0;
}
/* line 14, ../sass/_nav.scss */
header nav ul:after {
  content: '';
  display: table;
  clear: both;
}
/* line 20, ../sass/_nav.scss */
header nav ul li {
  list-style: none;
  float: left;
  display: inline;
  white-space: nowrap;
  margin-left: 0;
}
/* line 29, ../sass/_nav.scss */
header nav ul li.current:before, header nav ul li.current:after, header nav ul a.current:before, header nav ul a.current:after {
  border-color: transparent;
  border-style: solid;
  content: '\00a0';
  height: 0;
  width: 0;
  position: absolute;
}
/* line 39, ../sass/_nav.scss */
header nav ul li.current {
  position: relative;
}
/* line 42, ../sass/_nav.scss */
header nav ul li.current:before {
  border-bottom-color: white;
  border-width: 0 6px 6px;
  z-index: 3;
  bottom: -9px;
  left: 50%;
  margin-left: -6px;
}
/* line 51, ../sass/_nav.scss */
header nav ul li.current:after {
  border-bottom-color: #eeeeee;
  border-width: 0 5px 5px;
  z-index: 3;
  bottom: -10px;
  left: 50%;
  margin-left: -5px;
}
/* line 61, ../sass/_nav.scss */
header nav ul a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  padding: 2px 10px;
  display: inline-block;
  color: #999;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 71, ../sass/_nav.scss */
header nav ul a:hover {
  color: #ccc;
}
/* line 73, ../sass/_nav.scss */
header nav ul a.current {
  color: #fff;
}
/* line 76, ../sass/_nav.scss */
header nav ul a.current:before {
  border-width: 0 8px 8px;
  z-index: 2;
  bottom: -9px;
  left: 50%;
  margin-left: -8px;
  border-bottom-color: #bbbbbb;
}

/* line 4, ../sass/tabs.scss */
.tabs nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  position: relative;
  top: 1px;
  left: 1em;
}
/* line 11, ../sass/tabs.scss */
.tabs nav ul li {
  margin: 0;
  padding: 0;
  border: 0;
  display: inline-block;
}
/* line 14, ../sass/tabs.scss */
.tabs nav ul li a {
  z-index: 0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: linear-gradient(top, #fbfbfb, #e1e1e1);
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
  display: block;
  border-width: 1px;
  border-style: solid;
  border-color: #777 #777 #999;
  padding: 0.6em 1em;
  text-decoration: none;
  color: #bbb;
}
/* line 29, ../sass/tabs.scss */
.tabs nav ul li a:hover {
  color: #eee;
}
/* line 33, ../sass/tabs.scss */
.tabs nav ul li a.current {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: linear-gradient(top, #fbfbfb, #e1e1e1);
  z-index: 2;
  color: #fff;
  border-color: #999999 #999999 #e1e1e1;
}
/* line 43, ../sass/tabs.scss */
.tabs .content {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  background: #e1e1e1;
  z-index: 1;
  border: 1px solid #999;
  padding: 0 1em;
}
/* line 50, ../sass/tabs.scss */
.tabs .content .syntaxhighlighter {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 54, ../sass/tabs.scss */
.tabs .content > div[id] {
  display: none;
}

/* line 10, ../sass/light.scss */
body {
  background: #eeeeee;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

/* line 17, ../sass/light.scss */
header {
  text-align: center;
}
/* line 19, ../sass/light.scss */
header h1 {
  border: none;
  margin: 30px 0 20px;
  color: #9f9;
  font-family: ChunkFive;
  font-weight: normal;
  font-size: 6em;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
/* line 31, ../sass/light.scss */
header .subtitle {
  font-size: 0.25em;
  color: #eee;
}

/* line 37, ../sass/light.scss */
article {
  width: 75%;
  margin: 0 auto;
}
/* line 41, ../sass/light.scss */
article .cols:after {
  content: '';
  display: block;
  clear: both;
}
/* line 46, ../sass/light.scss */
article .cols > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 48, ../sass/light.scss */
article .cols .left {
  float: left;
  width: 66%;
}
/* line 53, ../sass/light.scss */
article .cols .right {
  float: left;
  width: 33%;
  border-left: 1px solid white;
  text-align: center;
  padding: 1em;
}

/* line 63, ../sass/light.scss */
footer {
  clear: both;
  font-size: 0.8em;
  color: #bbb;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: 3em;
}

/* line 72, ../sass/light.scss */
.download {
  display: inline-block;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b300), color-stop(100%, #008000));
  background: -webkit-linear-gradient(top, #00b300, #008000);
  background: -moz-linear-gradient(top, #00b300, #008000);
  background: -o-linear-gradient(top, #00b300, #008000);
  background: linear-gradient(top, #00b300, #008000);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), inset 0 -10px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), inset 0 -10px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), inset 0 -10px 20px rgba(0, 0, 0, 0.3);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.5em;
  padding: 10px 20px;
  color: #ddd;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5) green green;
}
/* line 93, ../sass/light.scss */
.download:before {
  font-size: 1.5em;
  padding-right: 10px;
  line-height: 100%;
}
/* line 99, ../sass/light.scss */
.download:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), inset 0 -10px 20px rgba(0, 0, 0, 0.3), inset 0 0 15px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), inset 0 -10px 20px rgba(0, 0, 0, 0.3), inset 0 0 15px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), inset 0 -10px 20px rgba(0, 0, 0, 0.3), inset 0 0 15px rgba(255, 255, 255, 0.5);
  border-top-color: rgba(255, 255, 255, 0.7);
}
/* line 108, ../sass/light.scss */
.download:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #004d00), color-stop(100%, #008000));
  background: -webkit-linear-gradient(top, #004d00, #008000);
  background: -moz-linear-gradient(top, #004d00, #008000);
  background: -o-linear-gradient(top, #004d00, #008000);
  background: linear-gradient(top, #004d00, #008000);
  -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
  color: #999;
  border-color: rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0.6) rgba(255, 255, 255, 0.7);
}

/* line 118, ../sass/light.scss */
.note {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7), 0 -1px 0 rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7), 0 -1px 0 rgba(255, 255, 255, 0.7);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7), 0 -1px 0 rgba(255, 255, 255, 0.7);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5f5f98), color-stop(100%, #4b4b78));
  background: -webkit-linear-gradient(top, #5f5f98, #4b4b78);
  background: -moz-linear-gradient(top, #5f5f98, #4b4b78);
  background: -o-linear-gradient(top, #5f5f98, #4b4b78);
  background: linear-gradient(top, #5f5f98, #4b4b78);
  margin: 1em;
  padding: 1em;
  font-size: 0.9em;
}

/* line 127, ../sass/light.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: ChunkFive;
  font-weight: normal;
  letter-spacing: 1px;
  border-bottom: 1px solid white;
}

/* line 134, ../sass/light.scss */
a {
  color: #cfc;
}

/* line 138, ../sass/light.scss */
p {
  margin: 1em 0;
  line-height: 1.5em;
}

/* line 143, ../sass/light.scss */
li {
  line-height: 1.3em;
}

/* line 147, ../sass/light.scss */
code, tt {
  font-family: "Ubuntu Mono", Monaco, monospace;
  color: #0ff;
}

/* line 152, ../sass/light.scss */
.syntaxhighlighter {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.3), 0 -1px 0 rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.3), 0 -1px 0 rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.3), 0 -1px 0 rgba(0, 0, 0, 0.8);
  padding: 5px;
}
/* line 158, ../sass/light.scss */
.syntaxhighlighter .toolbar {
  display: none;
}
