@import url(normalize.min.css);
/* line 1, ../sass/fonts.scss */
body {
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'ChunkFive';
  src: url("fonts/chunkfive/chunkfive.eot");
  src: url("fonts/chunkfive/chunkfive.eot?#iefix") format("embedded-opentype"), url("fonts/chunkfive/chunkfive.woff") format("woff"), url("fonts/chunkfive/chunkfive.ttf") format("truetype"), url("fonts/chunkfive/chunkfive.svg#ChunkFiveRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'entypo';
  src: url("fonts/entypo/entypo.eot");
  src: url("fonts/entypo/entypo.eot?#iefix") format("embedded-opentype"), url("fonts/entypo/entypo.woff") format("woff"), url("fonts/entypo/entypo.ttf") format("truetype"), url("fonts/entypo/entypo.svg#entypo") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 27, ../sass/fonts.scss */
[data-icon]:before {
  font-family: entypo;
  content: attr(data-icon);
  speak: none;
}

/* line 33, ../sass/fonts.scss */
.icon-alone {
  display: inline-block;
}

/* line 37, ../sass/fonts.scss */
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* line 18, ../sass/dark.scss */
.dark {
  background: #444444;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  padding: 2em;
}
/* line 9, ../sass/_builder.scss */
.dark .icon-button, .dark #power-button, .dark body.light #power-button, body.light .dark #power-button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7), 0 -1px 0 rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7), 0 -1px 0 rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7), 0 -1px 0 rgba(255, 255, 255, 0.7);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #515151), color-stop(100%, #373737));
  background: -webkit-linear-gradient(top, #515151, #373737);
  background: -moz-linear-gradient(top, #515151, #373737);
  background: -o-linear-gradient(top, #515151, #373737);
  background: linear-gradient(top, #515151, #373737);
  color: white;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 35px;
  line-height: 20px;
  display: block;
  text-decoration: none;
}
/* line 22, ../sass/_builder.scss */
.dark .icon-button:active, .dark #power-button:active, .dark body.light #power-button:active, body.light .dark #power-button:active {
  color: #e6e6e6;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2b2b2b), color-stop(100%, #373737));
  background: -webkit-linear-gradient(top, #2b2b2b, #373737);
  background: -moz-linear-gradient(top, #2b2b2b, #373737);
  background: -o-linear-gradient(top, #2b2b2b, #373737);
  background: linear-gradient(top, #2b2b2b, #373737);
  -webkit-box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.5), 0 -1px 0 rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.7);
  -moz-box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.5), 0 -1px 0 rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.5), 0 -1px 0 rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.7);
}
/* line 29, ../sass/_builder.scss */
.dark #power-button {
  position: absolute;
  right: 10px;
  top: 10px;
}
/* line 36, ../sass/_builder.scss */
.dark header {
  text-align: center;
}
/* line 38, ../sass/_builder.scss */
.dark header h1 {
  border: none;
  margin: 0 0 20px;
  color: #99ff99;
  font-family: ChunkFive;
  font-weight: normal;
  font-size: 6em;
}
/* line 49, ../sass/_builder.scss */
.dark header .subtitle {
  font-size: 0.25em;
  color: white;
}
/* line 54, ../sass/_builder.scss */
.dark header nav {
  margin: 0 auto 1em;
  border-bottom: 1px solid #111111;
  -webkit-box-shadow: 0 1px 0 #777777;
  -moz-box-shadow: 0 1px 0 #777777;
  box-shadow: 0 1px 0 #777777;
}
/* line 59, ../sass/_builder.scss */
.dark header nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  overflow: visible;
  padding: 8px 0;
}
/* line 65, ../sass/_builder.scss */
.dark header nav ul:after {
  content: '';
  display: table;
  clear: both;
}
/* line 71, ../sass/_builder.scss */
.dark header nav ul li {
  list-style: none;
  float: left;
  display: inline;
  white-space: nowrap;
  margin-left: 0;
}
/* line 80, ../sass/_builder.scss */
.dark header nav ul li.current:before, .dark header nav ul li.current:after, .dark header nav ul a.current:before, .dark header nav ul a.current:after {
  border-color: transparent;
  border-style: solid;
  content: '\00a0';
  height: 0;
  width: 0;
  position: absolute;
}
/* line 90, ../sass/_builder.scss */
.dark header nav ul li.current {
  position: relative;
}
/* line 93, ../sass/_builder.scss */
.dark header nav ul li.current:before {
  border-bottom-color: #777777;
  border-width: 0 6px 6px;
  z-index: 3;
  bottom: -9px;
  left: 50%;
  margin-left: -6px;
}
/* line 102, ../sass/_builder.scss */
.dark header nav ul li.current:after {
  border-bottom-color: #444444;
  border-width: 0 5px 5px;
  z-index: 3;
  bottom: -10px;
  left: 50%;
  margin-left: -5px;
}
/* line 112, ../sass/_builder.scss */
.dark header nav ul a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  padding: 2px 10px;
  display: inline-block;
  color: #999999;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 122, ../sass/_builder.scss */
.dark header nav ul a:hover {
  color: #b3b3b3;
}
/* line 124, ../sass/_builder.scss */
.dark header nav ul a.current {
  color: white;
}
/* line 127, ../sass/_builder.scss */
.dark header nav ul a.current:before {
  border-width: 0 8px 8px;
  z-index: 2;
  bottom: -9px;
  left: 50%;
  margin-left: -8px;
  border-bottom-color: #111111;
}
/* line 142, ../sass/_builder.scss */
.dark article {
  margin: 0 auto;
}
/* line 145, ../sass/_builder.scss */
.dark article .cols:after {
  content: '';
  display: block;
  clear: both;
}
/* line 151, ../sass/_builder.scss */
.dark article .cols .col {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
  float: left;
}
/* line 156, ../sass/_builder.scss */
.dark article .cols .col:first-child {
  padding-left: 0;
}
/* line 157, ../sass/_builder.scss */
.dark article .cols .col:last-child {
  padding-right: 0;
}
/* line 160, ../sass/_builder.scss */
.dark article .cols.border .col {
  border-right: 1px solid #777777;
}
/* line 163, ../sass/_builder.scss */
.dark article .cols.border .col:last-child {
  border-right: none;
}
/* line 167, ../sass/_builder.scss */
.dark article .cols.two-alt .col {
  width: 50%;
}
/* line 171, ../sass/_builder.scss */
.dark article .cols.two .col {
  width: 33%;
}
/* line 174, ../sass/_builder.scss */
.dark article .cols.two .col:first-child {
  width: 66%;
}
/* line 179, ../sass/_builder.scss */
.dark article .cols.four .col {
  width: 25%;
  border-left: 1px solid #777777;
}
/* line 187, ../sass/_builder.scss */
.dark footer {
  clear: both;
  font-size: 0.8em;
  color: #999999;
  text-align: center;
  margin-top: 3em;
}
/* line 195, ../sass/_builder.scss */
.dark .download {
  display: inline-block;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b300), color-stop(100%, #008000));
  background: -webkit-linear-gradient(top, #00b300, #008000);
  background: -moz-linear-gradient(top, #00b300, #008000);
  background: -o-linear-gradient(top, #00b300, #008000);
  background: linear-gradient(top, #00b300, #008000);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), inset 0 -10px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), inset 0 -10px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), inset 0 -10px 20px rgba(0, 0, 0, 0.3);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.5em;
  padding: 10px 20px;
  color: #ddd;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5) green green;
}
/* line 216, ../sass/_builder.scss */
.dark .download:before {
  font-size: 1.5em;
  padding-right: 10px;
  line-height: 100%;
}
/* line 222, ../sass/_builder.scss */
.dark .download:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), inset 0 -10px 20px rgba(0, 0, 0, 0.3), inset 0 0 15px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), inset 0 -10px 20px rgba(0, 0, 0, 0.3), inset 0 0 15px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), inset 0 -10px 20px rgba(0, 0, 0, 0.3), inset 0 0 15px rgba(255, 255, 255, 0.5);
  border-top-color: rgba(255, 255, 255, 0.7);
}
/* line 231, ../sass/_builder.scss */
.dark .download:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #004d00), color-stop(100%, #008000));
  background: -webkit-linear-gradient(top, #004d00, #008000);
  background: -moz-linear-gradient(top, #004d00, #008000);
  background: -o-linear-gradient(top, #004d00, #008000);
  background: linear-gradient(top, #004d00, #008000);
  -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
  color: #999;
  border-color: rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0.6) rgba(255, 255, 255, 0.7);
}
/* line 241, ../sass/_builder.scss */
.dark .note {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7), 0 -1px 0 rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7), 0 -1px 0 rgba(255, 255, 255, 0.7);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7), 0 -1px 0 rgba(255, 255, 255, 0.7);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5f5f98), color-stop(100%, #4b4b78));
  background: -webkit-linear-gradient(top, #5f5f98, #4b4b78);
  background: -moz-linear-gradient(top, #5f5f98, #4b4b78);
  background: -o-linear-gradient(top, #5f5f98, #4b4b78);
  background: linear-gradient(top, #5f5f98, #4b4b78);
  margin: 1em;
  padding: 1em;
  font-size: 0.9em;
}
/* line 251, ../sass/_builder.scss */
.dark nav.doc ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 257, ../sass/_builder.scss */
.dark nav.doc #previous {
  float: left;
}
/* line 258, ../sass/_builder.scss */
.dark nav.doc #index {
  margin: 0 auto;
}
/* line 259, ../sass/_builder.scss */
.dark nav.doc #next {
  float: right;
}
/* line 262, ../sass/_builder.scss */
.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
  font-family: ChunkFive;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 0.5em;
}
/* line 268, ../sass/_builder.scss */
.dark h1 + p, .dark h2 + p, .dark h3 + p, .dark h4 + p, .dark h5 + p, .dark h6 + p {
  margin-top: 0;
}
/* line 273, ../sass/_builder.scss */
.dark h1, .dark h2 {
  border-bottom: 1px solid #777777;
}
/* line 277, ../sass/_builder.scss */
.dark a {
  color: #ccffcc;
}
/* line 281, ../sass/_builder.scss */
.dark p {
  margin: 1em 0;
  line-height: 1.5em;
}
/* line 285, ../sass/_builder.scss */
.dark p:first-child {
  margin-top: 0;
}
/* line 286, ../sass/_builder.scss */
.dark p:last-child {
  margin-bottom: 0;
}
/* line 290, ../sass/_builder.scss */
.dark ul.p > li, .dark ol.p > li {
  margin: 1em 0;
}
/* line 293, ../sass/_builder.scss */
.dark ul ul, .dark ul ol, .dark ol ul, .dark ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 297, ../sass/_builder.scss */
.dark ul li, .dark ol li {
  line-height: 1.3em;
}
/* line 302, ../sass/_builder.scss */
.dark code, .dark .token, .dark .nodes .node, .dark .error, .dark body.light .token, body.light .dark .token, .dark body.light .nodes .node, body.light .nodes .dark .node, .dark body.light .error, body.light .dark .error, .dark tt {
  font-family: "Ubuntu Mono", Monaco, monospace;
  color: #9cb5da;
  font-weight: normal;
}
/* line 308, ../sass/_builder.scss */
.dark table {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  font-size: 0.9em;
  border-collapse: collapse;
  border: 1px solid #111111;
  margin: 1em auto;
}
/* line 315, ../sass/_builder.scss */
.dark table tr:nth-child(2n) {
  background: #3a3a3a;
}
/* line 319, ../sass/_builder.scss */
.dark table th, .dark table td {
  border: 1px solid #111111;
  padding: 5px 10px;
}
/* line 324, ../sass/_builder.scss */
.dark table thead {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #515151), color-stop(100%, #373737));
  background: -webkit-linear-gradient(top, #515151, #373737);
  background: -moz-linear-gradient(top, #515151, #373737);
  background: -o-linear-gradient(top, #515151, #373737);
  background: linear-gradient(top, #515151, #373737);
}
/* line 329, ../sass/_builder.scss */
.dark table caption, .dark figure figcaption {
  text-align: center;
  font-weight: bold;
  padding: 0.3em;
}
/* line 335, ../sass/_builder.scss */
.dark figure {
  margin: 0 auto;
  max-width: 400px;
}
/* line 338, ../sass/_builder.scss */
.dark figure img {
  width: 100%;
}
/* line 343, ../sass/_builder.scss */
.dark .token, .dark .nodes .node {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8de932), color-stop(100%, #73d216));
  background: -webkit-linear-gradient(top, #8de932, #73d216);
  background: -moz-linear-gradient(top, #8de932, #73d216);
  background: -o-linear-gradient(top, #8de932, #73d216);
  background: linear-gradient(top, #8de932, #73d216);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  border: 1px solid #8ae234;
  color: black;
  padding: 2px 5px;
  display: inline-block;
  margin: 5px;
}
/* line 355, ../sass/_builder.scss */
.dark .token span, .dark .nodes .node span {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #553366), color-stop(100%, #392244));
  background: -webkit-linear-gradient(top, #553366, #392244);
  background: -moz-linear-gradient(top, #553366, #392244);
  background: -o-linear-gradient(top, #553366, #392244);
  background: linear-gradient(top, #553366, #392244);
  padding: 2px 5px;
  border: 1px solid #775577;
  margin: 2px 5px;
  color: white;
  display: inline-block;
}
/* line 367, ../sass/_builder.scss */
.dark .error {
  color: #ee3333;
}
/* line 372, ../sass/_builder.scss */
.dark .align-center {
  text-align: center;
}
/* line 376, ../sass/_builder.scss */
.dark .syntaxhighlighter {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.3), 0 -1px 0 rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.3), 0 -1px 0 rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.3), 0 -1px 0 rgba(0, 0, 0, 0.8);
  border: 1px solid #111111;
  padding: 5px;
  max-height: 500px;
}
/* line 384, ../sass/_builder.scss */
.dark .syntaxhighlighter table {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 4, ../sass/_tabs.scss */
.dark .tabs nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  position: relative;
  top: 1px;
  left: 1em;
}
/* line 11, ../sass/_tabs.scss */
.dark .tabs nav ul li {
  margin: 0;
  padding: 0;
  border: 0;
  display: inline-block;
}
/* line 14, ../sass/_tabs.scss */
.dark .tabs nav ul li a {
  z-index: 0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #515151), color-stop(100%, #444444));
  background: -webkit-linear-gradient(top, #515151, #444444);
  background: -moz-linear-gradient(top, #515151, #444444);
  background: -o-linear-gradient(top, #515151, #444444);
  background: linear-gradient(top, #515151, #444444);
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
  display: block;
  border-width: 1px;
  border-style: solid;
  border-color: #777777 #777777 #999999;
  font-size: 0.9em;
  padding: 0 1em;
  line-height: 24px;
  text-decoration: none;
  color: #999999;
}
/* line 31, ../sass/_tabs.scss */
.dark .tabs nav ul li a:hover {
  color: white;
}
/* line 35, ../sass/_tabs.scss */
.dark .tabs nav ul li a.current {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #515151), color-stop(100%, #373737));
  background: -webkit-linear-gradient(top, #515151, #373737);
  background: -moz-linear-gradient(top, #515151, #373737);
  background: -o-linear-gradient(top, #515151, #373737);
  background: linear-gradient(top, #515151, #373737);
  z-index: 2;
  color: white;
  border-color: #999999 #999999 #373737;
}
/* line 45, ../sass/_tabs.scss */
.dark .tabs .content {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  background: #373737;
  z-index: 1;
  border: 1px solid #999999;
  padding: 0 1em;
}
/* line 52, ../sass/_tabs.scss */
.dark .tabs .content .syntaxhighlighter {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 56, ../sass/_tabs.scss */
.dark .tabs .content > div[id] {
  display: none;
}

/* line 19, ../sass/light.scss */
body.light {
  background: #eeeeee;
  color: #222222;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  padding: 2em;
}
/* line 9, ../sass/_builder.scss */
body.light .icon-button, body.light .dark #power-button, .dark body.light #power-button, body.light #power-button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7), 0 -1px 0 rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7), 0 -1px 0 rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7), 0 -1px 0 rgba(255, 255, 255, 0.7);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: linear-gradient(top, #fbfbfb, #e1e1e1);
  color: #222222;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 35px;
  line-height: 20px;
  display: block;
  text-decoration: none;
}
/* line 22, ../sass/_builder.scss */
body.light .icon-button:active, body.light .dark #power-button:active, .dark body.light #power-button:active, body.light #power-button:active {
  color: #090909;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d4d4d4), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, #d4d4d4, #e1e1e1);
  background: -moz-linear-gradient(top, #d4d4d4, #e1e1e1);
  background: -o-linear-gradient(top, #d4d4d4, #e1e1e1);
  background: linear-gradient(top, #d4d4d4, #e1e1e1);
  -webkit-box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.5), 0 -1px 0 rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.7);
  -moz-box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.5), 0 -1px 0 rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.5), 0 -1px 0 rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.7);
}
/* line 29, ../sass/_builder.scss */
body.light #power-button {
  position: absolute;
  right: 10px;
  top: 10px;
}
/* line 36, ../sass/_builder.scss */
body.light header {
  text-align: center;
}
/* line 38, ../sass/_builder.scss */
body.light header h1 {
  border: none;
  margin: 0 0 20px;
  color: #00bb00;
  font-family: ChunkFive;
  font-weight: normal;
  font-size: 6em;
}
/* line 49, ../sass/_builder.scss */
body.light header .subtitle {
  font-size: 0.25em;
  color: #222222;
}
/* line 54, ../sass/_builder.scss */
body.light header nav {
  margin: 0 auto 1em;
  border-bottom: 1px solid #888888;
  -webkit-box-shadow: 0 1px 0 #bbbbbb;
  -moz-box-shadow: 0 1px 0 #bbbbbb;
  box-shadow: 0 1px 0 #bbbbbb;
}
/* line 59, ../sass/_builder.scss */
body.light header nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  overflow: visible;
  padding: 8px 0;
}
/* line 65, ../sass/_builder.scss */
body.light header nav ul:after {
  content: '';
  display: table;
  clear: both;
}
/* line 71, ../sass/_builder.scss */
body.light header nav ul li {
  list-style: none;
  float: left;
  display: inline;
  white-space: nowrap;
  margin-left: 0;
}
/* line 80, ../sass/_builder.scss */
body.light header nav ul li.current:before, body.light header nav ul li.current:after, body.light header nav ul a.current:before, body.light header nav ul a.current:after {
  border-color: transparent;
  border-style: solid;
  content: '\00a0';
  height: 0;
  width: 0;
  position: absolute;
}
/* line 90, ../sass/_builder.scss */
body.light header nav ul li.current {
  position: relative;
}
/* line 93, ../sass/_builder.scss */
body.light header nav ul li.current:before {
  border-bottom-color: #bbbbbb;
  border-width: 0 6px 6px;
  z-index: 3;
  bottom: -9px;
  left: 50%;
  margin-left: -6px;
}
/* line 102, ../sass/_builder.scss */
body.light header nav ul li.current:after {
  border-bottom-color: #eeeeee;
  border-width: 0 5px 5px;
  z-index: 3;
  bottom: -10px;
  left: 50%;
  margin-left: -5px;
}
/* line 112, ../sass/_builder.scss */
body.light header nav ul a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  padding: 2px 10px;
  display: inline-block;
  color: #999999;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 122, ../sass/_builder.scss */
body.light header nav ul a:hover {
  color: #b3b3b3;
}
/* line 124, ../sass/_builder.scss */
body.light header nav ul a.current {
  color: #222222;
}
/* line 127, ../sass/_builder.scss */
body.light header nav ul a.current:before {
  border-width: 0 8px 8px;
  z-index: 2;
  bottom: -9px;
  left: 50%;
  margin-left: -8px;
  border-bottom-color: #888888;
}
/* line 142, ../sass/_builder.scss */
body.light article {
  margin: 0 auto;
}
/* line 145, ../sass/_builder.scss */
body.light article .cols:after {
  content: '';
  display: block;
  clear: both;
}
/* line 151, ../sass/_builder.scss */
body.light article .cols .col {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
  float: left;
}
/* line 156, ../sass/_builder.scss */
body.light article .cols .col:first-child {
  padding-left: 0;
}
/* line 157, ../sass/_builder.scss */
body.light article .cols .col:last-child {
  padding-right: 0;
}
/* line 160, ../sass/_builder.scss */
body.light article .cols.border .col {
  border-right: 1px solid #bbbbbb;
}
/* line 163, ../sass/_builder.scss */
body.light article .cols.border .col:last-child {
  border-right: none;
}
/* line 167, ../sass/_builder.scss */
body.light article .cols.two-alt .col {
  width: 50%;
}
/* line 171, ../sass/_builder.scss */
body.light article .cols.two .col {
  width: 33%;
}
/* line 174, ../sass/_builder.scss */
body.light article .cols.two .col:first-child {
  width: 66%;
}
/* line 179, ../sass/_builder.scss */
body.light article .cols.four .col {
  width: 25%;
  border-left: 1px solid #bbbbbb;
}
/* line 187, ../sass/_builder.scss */
body.light footer {
  clear: both;
  font-size: 0.8em;
  color: #999999;
  text-align: center;
  margin-top: 3em;
}
/* line 195, ../sass/_builder.scss */
body.light .download {
  display: inline-block;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b300), color-stop(100%, #008000));
  background: -webkit-linear-gradient(top, #00b300, #008000);
  background: -moz-linear-gradient(top, #00b300, #008000);
  background: -o-linear-gradient(top, #00b300, #008000);
  background: linear-gradient(top, #00b300, #008000);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), inset 0 -10px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), inset 0 -10px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), inset 0 -10px 20px rgba(0, 0, 0, 0.3);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.5em;
  padding: 10px 20px;
  color: #ddd;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5) green green;
}
/* line 216, ../sass/_builder.scss */
body.light .download:before {
  font-size: 1.5em;
  padding-right: 10px;
  line-height: 100%;
}
/* line 222, ../sass/_builder.scss */
body.light .download:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), inset 0 -10px 20px rgba(0, 0, 0, 0.3), inset 0 0 15px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), inset 0 -10px 20px rgba(0, 0, 0, 0.3), inset 0 0 15px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), inset 0 -10px 20px rgba(0, 0, 0, 0.3), inset 0 0 15px rgba(255, 255, 255, 0.5);
  border-top-color: rgba(255, 255, 255, 0.7);
}
/* line 231, ../sass/_builder.scss */
body.light .download:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #004d00), color-stop(100%, #008000));
  background: -webkit-linear-gradient(top, #004d00, #008000);
  background: -moz-linear-gradient(top, #004d00, #008000);
  background: -o-linear-gradient(top, #004d00, #008000);
  background: linear-gradient(top, #004d00, #008000);
  -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
  color: #999;
  border-color: rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0.6) rgba(255, 255, 255, 0.7);
}
/* line 241, ../sass/_builder.scss */
body.light .note {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7), 0 -1px 0 rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7), 0 -1px 0 rgba(255, 255, 255, 0.7);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7), 0 -1px 0 rgba(255, 255, 255, 0.7);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #afc3e1), color-stop(100%, #8aa7d3));
  background: -webkit-linear-gradient(top, #afc3e1, #8aa7d3);
  background: -moz-linear-gradient(top, #afc3e1, #8aa7d3);
  background: -o-linear-gradient(top, #afc3e1, #8aa7d3);
  background: linear-gradient(top, #afc3e1, #8aa7d3);
  margin: 1em;
  padding: 1em;
  font-size: 0.9em;
}
/* line 251, ../sass/_builder.scss */
body.light nav.doc ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 257, ../sass/_builder.scss */
body.light nav.doc #previous {
  float: left;
}
/* line 258, ../sass/_builder.scss */
body.light nav.doc #index {
  margin: 0 auto;
}
/* line 259, ../sass/_builder.scss */
body.light nav.doc #next {
  float: right;
}
/* line 262, ../sass/_builder.scss */
body.light h1, body.light h2, body.light h3, body.light h4, body.light h5, body.light h6 {
  font-family: ChunkFive;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 0.5em;
}
/* line 268, ../sass/_builder.scss */
body.light h1 + p, body.light h2 + p, body.light h3 + p, body.light h4 + p, body.light h5 + p, body.light h6 + p {
  margin-top: 0;
}
/* line 273, ../sass/_builder.scss */
body.light h1, body.light h2 {
  border-bottom: 1px solid #bbbbbb;
}
/* line 277, ../sass/_builder.scss */
body.light a {
  color: #5555bb;
}
/* line 281, ../sass/_builder.scss */
body.light p {
  margin: 1em 0;
  line-height: 1.5em;
}
/* line 285, ../sass/_builder.scss */
body.light p:first-child {
  margin-top: 0;
}
/* line 286, ../sass/_builder.scss */
body.light p:last-child {
  margin-bottom: 0;
}
/* line 290, ../sass/_builder.scss */
body.light ul.p > li, body.light ol.p > li {
  margin: 1em 0;
}
/* line 293, ../sass/_builder.scss */
body.light ul ul, body.light ul ol, body.light ol ul, body.light ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 297, ../sass/_builder.scss */
body.light ul li, body.light ol li {
  line-height: 1.3em;
}
/* line 302, ../sass/_builder.scss */
body.light code, body.light .dark .token, .dark body.light .token, body.light .dark .nodes .node, .dark .nodes body.light .node, body.light .dark .error, .dark body.light .error, body.light .token, body.light .nodes .node, body.light .error, body.light tt {
  font-family: "Ubuntu Mono", Monaco, monospace;
  color: #204a87;
  font-weight: normal;
}
/* line 308, ../sass/_builder.scss */
body.light table {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  font-size: 0.9em;
  border-collapse: collapse;
  border: 1px solid #888888;
  margin: 1em auto;
}
/* line 315, ../sass/_builder.scss */
body.light table tr:nth-child(2n) {
  background: #e4e4e4;
}
/* line 319, ../sass/_builder.scss */
body.light table th, body.light table td {
  border: 1px solid #888888;
  padding: 5px 10px;
}
/* line 324, ../sass/_builder.scss */
body.light table thead {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: linear-gradient(top, #fbfbfb, #e1e1e1);
}
/* line 329, ../sass/_builder.scss */
body.light table caption, body.light figure figcaption {
  text-align: center;
  font-weight: bold;
  padding: 0.3em;
}
/* line 335, ../sass/_builder.scss */
body.light figure {
  margin: 0 auto;
  max-width: 400px;
}
/* line 338, ../sass/_builder.scss */
body.light figure img {
  width: 100%;
}
/* line 343, ../sass/_builder.scss */
body.light .token, body.light .nodes .node {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8de932), color-stop(100%, #73d216));
  background: -webkit-linear-gradient(top, #8de932, #73d216);
  background: -moz-linear-gradient(top, #8de932, #73d216);
  background: -o-linear-gradient(top, #8de932, #73d216);
  background: linear-gradient(top, #8de932, #73d216);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  border: 1px solid #8ae234;
  color: black;
  padding: 2px 5px;
  display: inline-block;
  margin: 5px;
}
/* line 355, ../sass/_builder.scss */
body.light .token span, body.light .nodes .node span {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #553366), color-stop(100%, #392244));
  background: -webkit-linear-gradient(top, #553366, #392244);
  background: -moz-linear-gradient(top, #553366, #392244);
  background: -o-linear-gradient(top, #553366, #392244);
  background: linear-gradient(top, #553366, #392244);
  padding: 2px 5px;
  border: 1px solid #775577;
  margin: 2px 5px;
  color: white;
  display: inline-block;
}
/* line 367, ../sass/_builder.scss */
body.light .error {
  color: #aa0000;
}
/* line 372, ../sass/_builder.scss */
body.light .align-center {
  text-align: center;
}
/* line 376, ../sass/_builder.scss */
body.light .syntaxhighlighter {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.3), 0 -1px 0 rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.3), 0 -1px 0 rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.3), 0 -1px 0 rgba(0, 0, 0, 0.8);
  border: 1px solid #888888;
  padding: 5px;
  max-height: 500px;
}
/* line 384, ../sass/_builder.scss */
body.light .syntaxhighlighter table {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 4, ../sass/_tabs.scss */
body.light .tabs nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  position: relative;
  top: 1px;
  left: 1em;
}
/* line 11, ../sass/_tabs.scss */
body.light .tabs nav ul li {
  margin: 0;
  padding: 0;
  border: 0;
  display: inline-block;
}
/* line 14, ../sass/_tabs.scss */
body.light .tabs nav ul li a {
  z-index: 0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #eeeeee));
  background: -webkit-linear-gradient(top, #fbfbfb, #eeeeee);
  background: -moz-linear-gradient(top, #fbfbfb, #eeeeee);
  background: -o-linear-gradient(top, #fbfbfb, #eeeeee);
  background: linear-gradient(top, #fbfbfb, #eeeeee);
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
  display: block;
  border-width: 1px;
  border-style: solid;
  border-color: #777777 #777777 #999999;
  font-size: 0.9em;
  padding: 0 1em;
  line-height: 24px;
  text-decoration: none;
  color: #999999;
}
/* line 31, ../sass/_tabs.scss */
body.light .tabs nav ul li a:hover {
  color: #222222;
}
/* line 35, ../sass/_tabs.scss */
body.light .tabs nav ul li a.current {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
  background: linear-gradient(top, #fbfbfb, #e1e1e1);
  z-index: 2;
  color: #222222;
  border-color: #999999 #999999 #e1e1e1;
}
/* line 45, ../sass/_tabs.scss */
body.light .tabs .content {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  background: #e1e1e1;
  z-index: 1;
  border: 1px solid #999999;
  padding: 0 1em;
}
/* line 52, ../sass/_tabs.scss */
body.light .tabs .content .syntaxhighlighter {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 56, ../sass/_tabs.scss */
body.light .tabs .content > div[id] {
  display: none;
}

/* line 20, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter .dark .token,
.dark .syntaxhighlighter .token,
.syntaxhighlighter .dark .nodes .node,
.dark .nodes .syntaxhighlighter .node,
.syntaxhighlighter .dark .error,
.dark .syntaxhighlighter .error,
.syntaxhighlighter body.light .token,
body.light .syntaxhighlighter .token,
.syntaxhighlighter body.light .nodes .node,
body.light .nodes .syntaxhighlighter .node,
.syntaxhighlighter body.light .error,
body.light .syntaxhighlighter .error,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
  -moz-border-radius: 0 0 0 0 !important;
  -webkit-border-radius: 0 0 0 0 !important;
  background: none !important;
  border: 0 !important;
  bottom: auto !important;
  float: none !important;
  height: auto !important;
  left: auto !important;
  line-height: 1.1em !important;
  margin: 0 !important;
  outline: 0 !important;
  overflow: visible !important;
  padding: 0 !important;
  position: static !important;
  right: auto !important;
  text-align: left !important;
  top: auto !important;
  vertical-align: baseline !important;
  width: auto !important;
  box-sizing: content-box !important;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-size: 1em !important;
  min-height: inherit !important;
  min-height: auto !important;
}

/* line 56, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter {
  width: 100% !important;
  margin: 1em 0 1em 0 !important;
  position: relative !important;
  overflow: auto !important;
  font-size: 1em !important;
}
/* line 64, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter.source {
  overflow: hidden !important;
}
/* line 67, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter .bold {
  font-weight: bold !important;
}
/* line 68, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter .italic {
  font-style: italic !important;
}
/* line 70, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter .line {
  white-space: pre !important;
}
/* line 73, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter table {
  width: 100% !important;
}
/* line 75, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter table caption {
  text-align: left !important;
  padding: 0.5em 0 0.5em 1em !important;
}
/* line 80, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter table td.code {
  width: 100% !important;
}
/* line 83, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter table td.code .container {
  position: relative !important;
}
/* line 86, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter table td.code .container textarea {
  box-sizing: border-box !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  background: white !important;
  padding-left: 1em !important;
  overflow: hidden !important;
  white-space: pre !important;
}
/* line 103, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter table td.gutter .line {
  text-align: right !important;
  padding: 0 0.5em 0 1em !important;
}
/* line 108, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter table td.code .line {
  padding: 0 1em !important;
}
/* line 115, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter.nogutter td.code .container textarea, .syntaxhighlighter.nogutter td.code .line {
  padding-left: 0em !important;
}
/* line 119, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter.show {
  display: block !important;
}
/* line 123, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter.collapsed table {
  display: none !important;
}
/* line 125, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter.collapsed .toolbar {
  padding: 0.1em 0.8em 0em 0.8em !important;
  font-size: 1em !important;
  position: static !important;
  width: auto !important;
  height: auto !important;
}
/* line 132, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter.collapsed .toolbar span {
  display: inline !important;
  margin-right: 1em !important;
}
/* line 136, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter.collapsed .toolbar span a {
  padding: 0 !important;
  display: none !important;
}
/* line 139, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter.collapsed .toolbar span a.expandSource {
  display: inline !important;
}
/* line 146, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter .toolbar {
  position: absolute !important;
  right: 1px !important;
  top: 1px !important;
  width: 11px !important;
  height: 11px !important;
  font-size: 10px !important;
  z-index: 10 !important;
}
/* line 155, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter .toolbar span.title {
  display: inline !important;
}
/* line 157, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter .toolbar a {
  display: block !important;
  text-align: center !important;
  text-decoration: none !important;
  padding-top: 1px !important;
}
/* line 163, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter .toolbar a.expandSource {
  display: none !important;
}
/* line 167, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter.ie {
  font-size: 0.9em !important;
  padding: 1px 0 1px 0 !important;
}
/* line 171, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter.ie .toolbar {
  line-height: 8px !important;
}
/* line 173, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter.ie .toolbar a {
  padding-top: 0px !important;
}
/* line 186, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter.printing .line.alt1 .content,
.syntaxhighlighter.printing .line.alt2 .content,
.syntaxhighlighter.printing .line.highlighted .number,
.syntaxhighlighter.printing .line.highlighted.alt1 .content,
.syntaxhighlighter.printing .line.highlighted.alt2 .content {
  background: none !important;
}
/* line 190, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter.printing .line .number {
  color: #bbbbbb !important;
}
/* line 192, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter.printing .line .content {
  color: black !important;
}
/* line 196, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter.printing .toolbar {
  display: none !important;
}
/* line 197, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter.printing a {
  text-decoration: none !important;
}
/* line 198, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter.printing .plain, .syntaxhighlighter.printing .plain a {
  color: black !important;
}
/* line 199, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter.printing .comments, .syntaxhighlighter.printing .comments a {
  color: #008200 !important;
}
/* line 200, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter.printing .string, .syntaxhighlighter.printing .string a {
  color: blue !important;
}
/* line 201, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter.printing .keyword {
  color: #006699 !important;
  font-weight: bold !important;
}
/* line 205, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter.printing .preprocessor {
  color: gray !important;
}
/* line 206, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter.printing .variable {
  color: #aa7700 !important;
}
/* line 207, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter.printing .value {
  color: #009900 !important;
}
/* line 208, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter.printing .functions {
  color: deeppink !important;
}
/* line 209, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter.printing .constants {
  color: #0066cc !important;
}
/* line 210, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter.printing .script {
  font-weight: bold !important;
}
/* line 211, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter.printing .color1, .syntaxhighlighter.printing .color1 a {
  color: gray !important;
}
/* line 212, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter.printing .color2, .syntaxhighlighter.printing .color2 a {
  color: deeppink !important;
}
/* line 213, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter.printing .color3, .syntaxhighlighter.printing .color3 a {
  color: red !important;
}
/* line 214, ../sass/syntaxhighlighter/shCore.scss */
.syntaxhighlighter.printing .break, .syntaxhighlighter.printing .break a {
  color: black !important;
}

/* line 2, ../sass/syntaxhighlighter/shThemeRDark.scss */
.dark .syntaxhighlighter {
  background-color: #1b2426 !important;
}
/* line 5, ../sass/syntaxhighlighter/shThemeRDark.scss */
.dark .syntaxhighlighter .line.alt1 {
  background-color: #1b2426 !important;
}
/* line 6, ../sass/syntaxhighlighter/shThemeRDark.scss */
.dark .syntaxhighlighter .line.alt2 {
  background-color: #1b2426 !important;
}
/* line 8, ../sass/syntaxhighlighter/shThemeRDark.scss */
.dark .syntaxhighlighter .line.highlighted.alt1, .dark .syntaxhighlighter .line.highlighted.alt2 {
  background-color: #323e41 !important;
}
/* line 9, ../sass/syntaxhighlighter/shThemeRDark.scss */
.dark .syntaxhighlighter .line.highlighted.number {
  color: #b9bdb6 !important;
}
/* line 13, ../sass/syntaxhighlighter/shThemeRDark.scss */
.dark .syntaxhighlighter table caption {
  color: #b9bdb6 !important;
}
/* line 15, ../sass/syntaxhighlighter/shThemeRDark.scss */
.dark .syntaxhighlighter .gutter {
  color: #afafaf !important;
}
/* line 17, ../sass/syntaxhighlighter/shThemeRDark.scss */
.dark .syntaxhighlighter .gutter .line {
  border-right: 3px solid #435a5f !important;
}
/* line 19, ../sass/syntaxhighlighter/shThemeRDark.scss */
.dark .syntaxhighlighter .gutter .line.highlighted {
  background-color: #435a5f !important;
  color: #1b2426 !important;
}
/* line 26, ../sass/syntaxhighlighter/shThemeRDark.scss */
.dark .syntaxhighlighter.printing .line .content {
  border: none !important;
}
/* line 28, ../sass/syntaxhighlighter/shThemeRDark.scss */
.dark .syntaxhighlighter.collapsed {
  overflow: visible !important;
}
/* line 30, ../sass/syntaxhighlighter/shThemeRDark.scss */
.dark .syntaxhighlighter.collapsed .toolbar {
  color: #5ba1cf !important;
  background: black !important;
  border: 1px solid #435a5f !important;
}
/* line 34, ../sass/syntaxhighlighter/shThemeRDark.scss */
.dark .syntaxhighlighter.collapsed .toolbar a {
  color: #5ba1cf !important;
}
/* line 36, ../sass/syntaxhighlighter/shThemeRDark.scss */
.dark .syntaxhighlighter.collapsed .toolbar a:hover {
  color: #5ce638 !important;
}
/* line 43, ../sass/syntaxhighlighter/shThemeRDark.scss */
.dark .syntaxhighlighter .toolbar {
  color: white !important;
  background: #435a5f !important;
  border: none !important;
}
/* line 47, ../sass/syntaxhighlighter/shThemeRDark.scss */
.dark .syntaxhighlighter .toolbar a {
  color: white !important;
}
/* line 49, ../sass/syntaxhighlighter/shThemeRDark.scss */
.dark .syntaxhighlighter .toolbar a:hover {
  color: #e0e8ff !important;
}
/* line 53, ../sass/syntaxhighlighter/shThemeRDark.scss */
.dark .syntaxhighlighter .plain, .dark .syntaxhighlighter .plain a {
  color: #b9bdb6 !important;
}
/* line 54, ../sass/syntaxhighlighter/shThemeRDark.scss */
.dark .syntaxhighlighter .comments, .dark .syntaxhighlighter .comments a {
  color: #878a85 !important;
}
/* line 55, ../sass/syntaxhighlighter/shThemeRDark.scss */
.dark .syntaxhighlighter .string, .dark .syntaxhighlighter .string a {
  color: #5ce638 !important;
}
/* line 56, ../sass/syntaxhighlighter/shThemeRDark.scss */
.dark .syntaxhighlighter .keyword {
  color: #5ba1cf !important;
}
/* line 57, ../sass/syntaxhighlighter/shThemeRDark.scss */
.dark .syntaxhighlighter .preprocessor {
  color: #435a5f !important;
}
/* line 58, ../sass/syntaxhighlighter/shThemeRDark.scss */
.dark .syntaxhighlighter .variable {
  color: #ffaa3e !important;
}
/* line 59, ../sass/syntaxhighlighter/shThemeRDark.scss */
.dark .syntaxhighlighter .value {
  color: #009900 !important;
}
/* line 60, ../sass/syntaxhighlighter/shThemeRDark.scss */
.dark .syntaxhighlighter .functions {
  color: #ffaa3e !important;
}
/* line 61, ../sass/syntaxhighlighter/shThemeRDark.scss */
.dark .syntaxhighlighter .constants {
  color: #e0e8ff !important;
}
/* line 63, ../sass/syntaxhighlighter/shThemeRDark.scss */
.dark .syntaxhighlighter .script {
  font-weight: bold !important;
  color: #5ba1cf !important;
  background-color: none !important;
}
/* line 69, ../sass/syntaxhighlighter/shThemeRDark.scss */
.dark .syntaxhighlighter .color1, .dark .syntaxhighlighter .color1 a {
  color: #e0e8ff !important;
}
/* line 70, ../sass/syntaxhighlighter/shThemeRDark.scss */
.dark .syntaxhighlighter .color2, .dark .syntaxhighlighter .color2 a {
  color: white !important;
}
/* line 71, ../sass/syntaxhighlighter/shThemeRDark.scss */
.dark .syntaxhighlighter .color3, .dark .syntaxhighlighter .color3 a {
  color: #ffaa3e !important;
}

/* line 2, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter {
  background-color: white !important;
}
/* line 5, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter .line.alt1 {
  background-color: white !important;
}
/* line 6, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter .line.alt2 {
  background-color: white !important;
}
/* line 8, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter .line.highlighted.alt1, .light .syntaxhighlighter .line.highlighted.alt2 {
  background-color: #e0e0e0 !important;
}
/* line 9, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter .line.highlighted.number {
  color: black !important;
}
/* line 13, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter table caption {
  color: black !important;
}
/* line 15, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter .gutter {
  color: #afafaf !important;
}
/* line 17, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter .gutter .line {
  border-right: 3px solid #6ce26c !important;
}
/* line 19, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter .gutter .line.highlighted {
  background-color: #6ce26c !important;
  color: white !important;
}
/* line 26, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter.printing .line .content {
  border: none !important;
}
/* line 28, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter.collapsed {
  overflow: visible !important;
}
/* line 30, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter.collapsed .toolbar {
  color: blue !important;
  background: white !important;
  border: 1px solid #6ce26c !important;
}
/* line 34, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter.collapsed .toolbar a {
  color: blue !important;
}
/* line 36, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter.collapsed .toolbar a:hover {
  color: red !important;
}
/* line 41, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter .toolbar {
  color: white !important;
  background: #6ce26c !important;
  border: none !important;
}
/* line 45, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter .toolbar a {
  color: white !important;
}
/* line 47, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter .toolbar a:hover {
  color: black !important;
}
/* line 51, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter .plain, .light .syntaxhighlighter .plain a {
  color: black !important;
}
/* line 52, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter .comments, .light .syntaxhighlighter .comments a {
  color: #008200 !important;
}
/* line 53, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter .string, .light .syntaxhighlighter .string a {
  color: blue !important;
}
/* line 54, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter .keyword {
  color: #006699 !important;
}
/* line 55, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter .preprocessor {
  color: gray !important;
}
/* line 56, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter .variable {
  color: #aa7700 !important;
}
/* line 57, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter .value {
  color: #009900 !important;
}
/* line 58, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter .functions {
  color: deeppink !important;
}
/* line 59, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter .constants {
  color: #0066cc !important;
}
/* line 61, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter .script {
  font-weight: bold !important;
  color: #006699 !important;
  background-color: none !important;
}
/* line 67, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter .color1, .light .syntaxhighlighter .color1 a {
  color: gray !important;
}
/* line 68, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter .color2, .light .syntaxhighlighter .color2 a {
  color: deeppink !important;
}
/* line 69, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter .color3, .light .syntaxhighlighter .color3 a {
  color: red !important;
}
/* line 70, ../sass/syntaxhighlighter/shThemeDefault.scss */
.light .syntaxhighlighter .keyword {
  font-weight: bold !important;
}
