/* line 1, ../sass/fonts.scss */
body {
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'ChunkFive';
  src: url("fonts/chunkfive/chunkfive.eot");
  src: url("fonts/chunkfive/chunkfive.eot?#iefix") format("embedded-opentype"), url("fonts/chunkfive/chunkfive.woff") format("woff"), url("fonts/chunkfive/chunkfive.ttf") format("truetype"), url("fonts/chunkfive/chunkfive.svg#ChunkFiveRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'entypo';
  src: url("fonts/entypo/entypo.eot");
  src: url("fonts/entypo/entypo.eot?#iefix") format("embedded-opentype"), url("fonts/entypo/entypo.woff") format("woff"), url("fonts/entypo/entypo.ttf") format("truetype"), url("fonts/entypo/entypo.svg#entypo") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 27, ../sass/fonts.scss */
[data-icon]:before {
  font-family: entypo;
  content: attr(data-icon);
  speak: none;
}

/* line 10, ../sass/style.scss */
body {
  background: #444444;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

/* line 17, ../sass/style.scss */
header {
  text-align: center;
}
/* line 19, ../sass/style.scss */
header h1 {
  border: none;
  margin: 30px 0 20px;
  color: #9f9;
  font-family: ChunkFive;
  font-weight: normal;
  font-size: 6em;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
/* line 31, ../sass/style.scss */
header .subtitle {
  font-size: 0.25em;
  color: #eee;
}

/* line 37, ../sass/style.scss */
nav {
  width: 75%;
  margin: 0 auto 1em;
  border-bottom: 1px solid #111111;
  -webkit-box-shadow: 0 1px 0 #777777;
  -moz-box-shadow: 0 1px 0 #777777;
  box-shadow: 0 1px 0 #777777;
}
/* line 43, ../sass/style.scss */
nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  overflow: visible;
  padding: 8px 0;
}
/* line 49, ../sass/style.scss */
nav ul:after {
  content: '';
  display: table;
  clear: both;
}
/* line 55, ../sass/style.scss */
nav ul li {
  list-style: none;
  float: left;
  display: inline;
  white-space: nowrap;
  margin-left: 0;
}
/* line 64, ../sass/style.scss */
nav ul li.current:before, nav ul li.current:after, nav ul a.current:before, nav ul a.current:after {
  border-color: transparent;
  border-style: solid;
  content: '\00a0';
  height: 0;
  width: 0;
  position: absolute;
}
/* line 74, ../sass/style.scss */
nav ul li.current {
  position: relative;
}
/* line 77, ../sass/style.scss */
nav ul li.current:before {
  border-bottom-color: #777777;
  border-width: 0 6px 6px;
  z-index: 3;
  bottom: -9px;
  left: 50%;
  margin-left: -6px;
}
/* line 86, ../sass/style.scss */
nav ul li.current:after {
  border-bottom-color: #444444;
  border-width: 0 5px 5px;
  z-index: 3;
  bottom: -10px;
  left: 50%;
  margin-left: -5px;
}
/* line 96, ../sass/style.scss */
nav ul a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  padding: 2px 10px;
  display: inline-block;
  color: #999;
}
/* line 104, ../sass/style.scss */
nav ul a:hover {
  color: #ccc;
}
/* line 106, ../sass/style.scss */
nav ul a.current {
  color: #fff;
}
/* line 109, ../sass/style.scss */
nav ul a.current:before {
  border-width: 0 8px 8px;
  z-index: 2;
  bottom: -9px;
  left: 50%;
  margin-left: -8px;
  border-bottom-color: #111111;
}

/* line 122, ../sass/style.scss */
article {
  width: 75%;
  margin: 0 auto;
}
/* line 126, ../sass/style.scss */
article .cols:after {
  content: '';
  display: block;
  clear: both;
}
/* line 131, ../sass/style.scss */
article .cols > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 133, ../sass/style.scss */
article .cols .left {
  float: left;
  width: 75%;
}
/* line 138, ../sass/style.scss */
article .cols .right {
  float: left;
  width: 25%;
  border-left: 1px solid #777777;
  text-align: center;
  padding: 1em;
}

/* line 148, ../sass/style.scss */
footer {
  clear: both;
  font-size: 0.8em;
  color: #bbb;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: 3em;
}

/* line 157, ../sass/style.scss */
.download {
  display: inline-block;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b300), color-stop(100%, #008000));
  background: -webkit-linear-gradient(top, #00b300, #008000);
  background: -moz-linear-gradient(top, #00b300, #008000);
  background: -o-linear-gradient(top, #00b300, #008000);
  background: linear-gradient(top, #00b300, #008000);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), inset 0 -10px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), inset 0 -10px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), inset 0 -10px 20px rgba(0, 0, 0, 0.3);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.9);
  font-size: 1.5em;
  padding: 10px 20px;
  color: #ddd;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.7) green green;
}
/* line 177, ../sass/style.scss */
.download:before {
  font-size: 1.5em;
  padding-right: 10px;
  line-height: 100%;
}
/* line 183, ../sass/style.scss */
.download:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), inset 0 -10px 20px rgba(0, 0, 0, 0.3), inset 0 0 15px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), inset 0 -10px 20px rgba(0, 0, 0, 0.3), inset 0 0 15px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), inset 0 -10px 20px rgba(0, 0, 0, 0.3), inset 0 0 15px rgba(255, 255, 255, 0.5);
}
/* line 191, ../sass/style.scss */
.download:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #004d00), color-stop(100%, #008000));
  background: -webkit-linear-gradient(top, #004d00, #008000);
  background: -moz-linear-gradient(top, #004d00, #008000);
  background: -o-linear-gradient(top, #004d00, #008000);
  background: linear-gradient(top, #004d00, #008000);
  -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
  color: #999;
  border-color: rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0.6) rgba(255, 255, 255, 0.7);
}

/* line 201, ../sass/style.scss */
.note {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7), 0 -1px 0 rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7), 0 -1px 0 rgba(255, 255, 255, 0.7);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7), 0 -1px 0 rgba(255, 255, 255, 0.7);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5f5f98), color-stop(100%, #4b4b78));
  background: -webkit-linear-gradient(top, #5f5f98, #4b4b78);
  background: -moz-linear-gradient(top, #5f5f98, #4b4b78);
  background: -o-linear-gradient(top, #5f5f98, #4b4b78);
  background: linear-gradient(top, #5f5f98, #4b4b78);
  margin: 1em;
  padding: 1em;
  font-size: 0.9em;
}

/* line 210, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: ChunkFive;
  font-weight: normal;
  letter-spacing: 1px;
  border-bottom: 1px solid #777777;
}

/* line 217, ../sass/style.scss */
a {
  color: #cfc;
}

/* line 221, ../sass/style.scss */
p {
  margin: 1em 0;
  line-height: 1.5em;
}

/* line 226, ../sass/style.scss */
li {
  line-height: 1.3em;
}

/* line 230, ../sass/style.scss */
code, tt {
  font-family: "Ubuntu Mono", Monaco, monospace;
  color: #0ff;
}

/* line 235, ../sass/style.scss */
.syntaxhighlighter {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.3), 0 -1px 0 rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.3), 0 -1px 0 rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.3), 0 -1px 0 rgba(0, 0, 0, 0.8);
  padding: 5px;
}
