.box-shadow(@ox: 0, @oy: 0, @ob: 5px, @oc: rgba(0,0,0,0.7), @ix: 0, @iy: 0, @ib: 0, @ic: transparent) {
    /*
    -webkit-box-shadow: @ox @oy @ob @oc,
                        inset @ix @iy @ib @ic;
       -moz-box-shadow: @ox @oy @ob @oc,
                        inset @ix @iy @ib @ic;
        -ms-box-shadow: @ox @oy @ob @oc,
                        inset @ix @iy @ib @ic;
         -o-box-shadow: @ox @oy @ob @oc,
                        inset @ix @iy @ib @ic; */
            box-shadow: @ox @oy @ob @oc,
                        inset @ix @iy @ib @ic;
}

.box-sizing(@sizing) {
    -webkit-box-sizing: @sizing;
       -moz-box-sizing: @sizing;
        -ms-box-sizing: @sizing;
         -o-box-sizing: @sizing;
            box-sizing: @sizing;
}

.border-radius(@r) {
/*    -webkit-border-radius: @r; 
       -moz-border-radius: @r; 
        -ms-border-radius: @r; 
         -o-border-radius: @r; */
            border-radius: @r; 
}

.gradient(@from, @to) {
    background: @from; /* Old browsers */
    background: -moz-linear-gradient(top, @from 0%, @to 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @from), color-stop(100%, @to)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, @from 0%, @to 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, @from 0%, @to 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, @from 0%, @to 100%); /* IE10+ */
    background: linear-gradient(top, @from 0%, @to 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@from', endColorstr='@to', GradientType=0); /* IE6-9 */
}

.monospaced() {
    font-family: Inconsolata, Monaco, "Courier New", monospace;
    font-weight: 400;
}


.clearfix {
    &:after {
        content: '';
        clear: both;
        display: block;
    }
}

body {
    text-rendering: optimizeLegibility;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding: 20px;
}

header {
    margin-bottom: 30px;
    
    h1 { margin: 0; }
    
    .subtitle {
        color: #777;
        font-size: 1.2em;
    }
    
    .version-corner-ribbon {
        font-weight: bold;
        font-size: 15px;
        width: 85px;
        height: 88px;
        overflow: hidden;
        position: absolute;
        top: -3px;
        right: -3px;
    
        & > div {
            color: #333;
            text-align: center;
            text-shadow: 0 1px 0 rgba(255,255,255,0.5);
            -webkit-transform: rotate(45deg);
            -moz-transform:    rotate(45deg);
            -ms-transform:     rotate(45deg);
            -o-transform:      rotate(45deg);
            position: absolute;
            padding: 7px 0;
            left: -5px;
            top: 15px;
            width: 120px;
            color: #6a6340;
        
            .gradient(#bfdc7a, #8ebf45);
            .box-shadow(0, 0, 3px, rgba(0,0,0,0.3));
        }
    }
}

h1, h2, h3 {
    margin: 1.5em 0 1em;
    line-height: normal;
}

a {
    &:focus {
        outline: 0;
    }
}

ul, ol {
    padding-left: 2em;
    
    &, p {
        margin-bottom: 1em;
        line-height: 1.3em;
    }
    
    ul, ol {
        margin-bottom: 0;
    }
    
    li {
        margin: .6em 0;
    }
}

tt, code {
    .monospaced();
    margin-left: .3em;
    
    a {
        color: inherit;
        text-decoration: inherit;
    }
}

pre {
    .monospaced();
    margin: 0;
}

.toolbars {
    .box-shadow();
    font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
    font-size: 13px;
    
    .ribbon {
        .tabs {
            .clearfix;
            .gradient(#ccc, #aaa);
            line-height: 30px;
            
            a, strong {
                display: block;
                float: left;
                padding: 0 10px;
                border-right: 2px groove #ccc;
            }
            
            strong {
                width: 60px;
            }
        
            a {
                color: #fff;
                text-align: center;
                text-decoration: none;
                text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
                
                &.open {
                    .gradient(#ccc, #eee);
                    color: #222;
                    text-shadow: 0 1px 0 rgba(255,255,255,0.7);
                }
            }
        }
    
        .toolbar {
            background: #eee;
            padding: 5px 10px;
            clear: left;
            display: none;
            
            a {
                .border-radius(4px);
                .gradient(#eee, #ccc);
                border: 1px solid #aaa;
                color: #222;
                font-size: 16px;
                display: inline-block;
                text-decoration: none;
                white-space: nowrap;
                height: 20px;
                padding: 4px 8px;
                margin: 2px;
            }
        }
    }
}

.inbox {
    position: relative;
    margin: 20px 0;

    a.delete-icon {
        position: absolute;
        right: 6px;
        top: 6px;
        width: 16px;
        height: 16px;
        text-indent: -9999px;
        background: url(../images/delete.png) no-repeat 50% 50%;
        opacity: 0.5;
    }
}

#math_input {
    .monospaced();
    .border-radius(3px);
    .box-shadow(0,0,0,transparent,0,0,4px,rgba(0,0,0,0.7));
    .box-sizing(border-box);
    border: 1px solid #999;
    width: 100%;
    font-size: 18px;
    line-height: 1.2em;
    padding: 4px 20px 4px 4px;
}


#math_output {
    padding: 10px;
    font-size: 20px;
}

.outbox {
    margin: 20px 0;
    .border-radius(3px);
    
    label {
        .gradient(#6facd5, #497bae);
        .border-radius(3px);
        border: 1px solid #456f9a;
        color: #fff;
        display: block;
        font-size: 14px;
        font-weight: bold;
        text-shadow: 0 1px 1px #3e6790;
        padding: 5px 10px 15px;
        margin-bottom: -10px;

        .highlight {
            color: #ff0;
        }
    }
    
    div {
        .box-shadow(0,0,0,transparent,0,0,4px,rgba(0,0,0,0.7));
        .border-radius(3px);
        max-height: 400px;
        overflow: auto;
        border: 1px solid #456f9a;
        font-size: 0.8em;
        padding: 5px;
        line-height: normal;
        background: #ddd;
    }
}

footer {
    margin-top: 50px;
    color: #999;
    text-align: center;
    font-size: 0.8em;

    p {
        margin: 0;
    }
}
