/build
/demo/css
/demo/index.html
/doc/*.pdf
/node_modules

.sass-cache
.dropbox
Icon?

*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy

Thumbs.db
Desktop.ini
.DS_Store
.*.sw[a-z]
*.un~
Session.vim
._*
*~
