@import 'tabs';
@mixin builder {
    background: $bgcolor;
    color: $fgcolor;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    padding: 2em;

    .icon-button {
        @include border-radius(3px);
        @include box-shadow(0 0 4px rgba(black, 0.7), 0 -1px 0 rgba(white, 0.7));
        @include background(linear-gradient(top, lighten($bgcolor, 5%), darken($bgcolor, 5%)));
        color: $fgcolor;
        text-align: center;
        width: 30px;
        height: 30px;
        font-size: 35px;
        line-height: 20px;
        display: block;
        text-decoration: none;

        &:active {
            color: darken($fgcolor, 10%);
            @include background(linear-gradient(top, darken($bgcolor, 10%), darken($bgcolor, 5%)));
            @include box-shadow(inset 0 3px 10px rgba(black, 0.5), 0 -1px 0 rgba(black, 0.7), 0 1px 0 rgba(white, 0.7));
        }
    }

    #power-button {
        @extend .icon-button;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    header {
        text-align: center;
        h1 {
            border: none;
            margin: 0 0 20px;
            color: $titlefg;
            font: {
                family: ChunkFive;
                weight: normal;
                size: 6em;
            }
        }

        .subtitle {
            font-size: 0.25em;
            color: $fgcolor;
        }

        nav {
            margin: 0 auto 1em;
            border-bottom: 1px solid $bgaccent-dark;
            @include box-shadow(0 1px 0 $bgaccent-light);

            ul {
                @include reset-box-model;
                list-style: none;
                overflow: visible;
                padding: 8px 0;

                &:after {
                    content: '';
                    display: table;
                    clear: both;
                }

                li {
                    list-style: none;
                    float: left;
                    display: inline;
                    white-space: nowrap;
                    margin-left: 0;
                }

                li.current, a.current {
                    &:before, &:after {
                        border-color: transparent;
                        border-style: solid;
                        content: '\00a0';
                        height: 0;
                        width: 0;
                        position: absolute;
                    }
                }

                li.current {
                    position: relative;

                    &:before {
                        border-bottom-color: $bgaccent-light;
                        border-width: 0 6px 6px;
                        z-index: 3;
                        bottom: -9px;
                        left: 50%;
                        margin-left: -6px;
                    }

                    &:after {
                        border-bottom-color: $bgcolor;
                        border-width: 0 5px 5px;
                        z-index: 3;
                        bottom: -10px;
                        left: 50%;
                        margin-left: -5px;
                    }
                }

                a {
                    text-transform: uppercase;
                    text-decoration: none;
                    font-weight: bold;
                    padding: 2px 10px;
                    display: inline-block;
                    color: $fgcolor-inactive;

                    @include transition;

                    &:hover { color: lighten($fgcolor-inactive, 10%); }

                    &.current {
                        color: $fgcolor;

                        &:before {
                            border-width: 0 8px 8px;
                            z-index: 2;
                            bottom: -9px;
                            left: 50%;
                            margin-left: -8px;
                            border-bottom-color: $bgaccent-dark;
                        }
                    }
                }
            }
        }
    }


    article {
        margin: 0 auto;
        .cols {
            &:after {
                content: '';
                display: block;
                clear: both;
            }

            .col {
                @include box-sizing(border-box);
                padding: 1em;
                float: left;

                &:first-child { padding-left: 0; }
                &:last-child { padding-right: 0; }
            }

            &.border .col {
                border-right: 1px solid $bgaccent-light;

                &:last-child { border-right: none; }
            }

            &.two-alt {
                .col { width: 50%; }
            }

            &.two {
                .col {
                    width: 33%;

                    &:first-child { width: 66%; }
                }
            }

            &.four {
                .col {
                    width: 25%;
                    border-left: 1px solid $bgaccent-light;
                }
            }
        }
    }

    footer {
        clear: both;
        font-size: 0.8em;
        color: $fgcolor-inactive;
        text-align: center;
        margin-top: 3em;
    }

    .download {
        display: inline-block;
        @include border-radius(8px);
        @include background(linear-gradient(top, lighten(green, 10%), green));
        @include box-shadow(
            0 0 5px rgba(black, 0.8),
            inset 0 -10px 20px rgba(black, 0.3)
        );
        @include text-shadow(0 -1px 0 rgba(black, 0.9));
        @include transition;

        font-size: 1.5em;
        padding: 10px 20px;
        color: #ddd;
        text-decoration: none;
        border: {
            width: 1px;
            style: solid;
            color: rgba(white, 0.5) green green;
        }

        &:before {
            font-size: 1.5em;
            padding-right: 10px;
            line-height: 100%;
        }

        &:hover {
            @include box-shadow(
                0 0 5px rgba(black, 0.8),
                inset 0 -10px 20px rgba(black, 0.3),
                inset 0 0 15px rgba(white, 0.5)
            );
            border-top-color: rgba(white, 0.7);
        }

        &:active {
            @include background(linear-gradient(top, darken(green, 10%), green));
            @include box-shadow(
                inset 0 0 20px rgba(black, 0.8)
            );
            color: #999;
            border-color: rgba(black, 0.6) rgba(black, 0.6) rgba(white, 0.7);
        }
    }

    .note {
        @include border-radius;
        @include box-shadow(0 1px 5px rgba(black, 0.7), 0 -1px 0 rgba(white, 0.7));
        @include background(linear-gradient(top, lighten($infobg, 5%), darken($infobg, 5%)));
        margin: 1em;
        padding: 1em;
        font-size: 0.9em;
    }

    nav.doc {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #previous { float: left; }
        #index { margin: 0 auto; }
        #next { float: right; }
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: ChunkFive;
        font-weight: normal;
        letter-spacing: 1px;
        margin-bottom: 0.5em;

        & + p {
            margin-top: 0;
        }
    }

    h1, h2 {
        border-bottom: 1px solid $bgaccent-light;
    }

    a {
        color: $link-color;
    }

    p {
        margin: 1em 0;
        line-height: 1.5em;

        &:first-child { margin-top: 0; }
        &:last-child { margin-bottom: 0; }
    }

    ul, ol {
        &.p > li {
            margin: 1em 0;
        }
        ul, ol {
            margin: {top: 0; bottom: 0;};
        }

        li {
            line-height: 1.3em;
        }
    }

    code, tt {
        font-family: "Ubuntu Mono", Monaco, monospace;
        color: $code-color;
        font-weight: normal;
    }

    table {
        @include box-shadow(0 0 5px rgba(black, 0.7));
        font-size: 0.9em;
        border-collapse: collapse;
        border: 1px solid $bgaccent-dark;
        margin: 1em auto;

        tr:nth-child(2n) {
            background: darken($bgcolor, 4%);
        }

        th, td {
            border: 1px solid $bgaccent-dark;
            padding: 5px 10px;
        }

        thead {
            @include background(linear-gradient(top, lighten($bgcolor, 5%), darken($bgcolor, 5%)));
        }
    }

    table caption, figure figcaption {
        text-align: center;
        font-weight: bold;
        padding: 0.3em;
    }

    figure {
        margin: 0 auto;
        max-width: 400px;
        img {
            width: 100%;
        }
    }

    .token, .nodes .node {
        @extend code;
        @include border-radius(3px);
        @include box-shadow;
        @include background(linear-gradient(top, lighten(#73d216, 10%), #73d216));
        @include text-shadow(0 1px 0 rgba(white, 0.6));
        border: 1px solid #8ae234;
        color: black;
        padding: 2px 5px;
        display: inline-block;
        margin: 5px;

        span{
            @include border-radius(3px);
            @include text-shadow(0 -1px 0 rgba(black, 0.6));
            @include background(linear-gradient(top, #536, darken(#536, 10%)));
            padding: 2px 5px;
            border: 1px solid #757;
            margin: 2px 5px;
            color: white;
            display: inline-block;
        }
    }

    .error {
        @extend code;
        color: $errorfg;
    }

    .align-center {
        text-align: center;
    }

    .syntaxhighlighter {
        @include box-sizing(border-box);
        @include border-radius(5px);
        @include box-shadow(inset 0 0 5px rgba(black, 0.7), 0 1px 0 rgba(white, 0.3), 0 -1px 0 rgba(black, 0.8));
        border: 1px solid $bgaccent-dark;
        padding: 5px;
        max-height: 500px;

        table { @include box-shadow(none);}
    }
}
