
header nav {
    width: 75%;
    margin: 0 auto 1em;
    border-bottom: 1px solid $bgaccent-dark;
    @include box-shadow(0 1px 0 $bgaccent-light);

    ul {
        @include reset-box-model;
        list-style: none;
        overflow: visible;
        padding: 8px 0;

        &:after {
            content: '';
            display: table;
            clear: both;
        }

        li {
            list-style: none;
            float: left;
            display: inline;
            white-space: nowrap;
            margin-left: 0;
        }

        li.current, a.current {
            &:before, &:after {
                border-color: transparent;
                border-style: solid;
                content: '\00a0';
                height: 0;
                width: 0;
                position: absolute;
            }
        }

        li.current {
            position: relative;

            &:before {
                border-bottom-color: $bgaccent-light;
                border-width: 0 6px 6px;
                z-index: 3;
                bottom: -9px;
                left: 50%;
                margin-left: -6px;
            }

            &:after {
                border-bottom-color: $bgcolor;
                border-width: 0 5px 5px;
                z-index: 3;
                bottom: -10px;
                left: 50%;
                margin-left: -5px;
            }
        }

        a {
            text-transform: uppercase;
            text-decoration: none;
            font-weight: bold;
            padding: 2px 10px;
            display: inline-block;
            color: #999;

            @include transition;

            &:hover { color: #ccc; }

            &.current {
                color: #fff;

                &:before {
                    border-width: 0 8px 8px;
                    z-index: 2;
                    bottom: -9px;
                    left: 50%;
                    margin-left: -8px;
                    border-bottom-color: $bgaccent-dark;
                }
            }
        }
    }
}
