extends layout

block append vars
  prev_page = {href: 'language.html', title: 'MathLex Language Specification'}
  next_page = {href: 'tokens.html', title: 'Appendix A: List of All Recognized Symbols and Tokens'}

block append title
  | - Building from Source

block article
  section#building-from-source
    h1 Building from Source

    p.
      Although it is open source, MathLex is currently copyrighted and cannot be used in
      any project without explicit permission. It will eventually be made available under a free-use
      license (such as BSD, MIT, Apache, or Creative Commons).
    .two-alt.cols.border
      .col: p.note.
          <strong>NOTE:</strong> MathLex is distributed in a precompiled, optimized, and minified JS
          file. Building MathLex from source should not be necessary unless you know what you are
          doing and need/want to make changes.
      .col.align-center: a.download(data-icon='&#59156;', href='#{path_prefix}src/mathlex.zip', download='mathlex-source.zip') Download Source Code

    h2 Requirements and Dependencies
    p.
      For simplicity, this documentation assumes you are using a UNIX (including Mac
      OS X) or GNU/Linux environment and are familiar with basic JavaScript and CoffeeScript programming.

    p Make sure you have the following applications and libraries installed:
    ul
      li.
        <a href="http://nodejs.org" target="_blank">Node.js</a> with the following modules:
        <a href="http://coffeescript.org" target="_blank">CoffeeScript</a>,
        <a href="http://handlebarsjs.com" target="_blank">Handlebars</a>,
        <a href="http://zaach.github.com/jison" target="_blank">Jison</a>, and
        <a href="http://github.com/mishoo/UglifyJS2" target="_blank">UglifyJS</a>
      li.
        <a href="http://ruby-lang.org" target="_blank">Ruby</a> with the <a href="compass-style.org" target="_blank">Compass</a> gem.

    h2 Build Instructions
    p.
      Download and extract the MathLex source code. MathLex is written in CoffeeScript files located
      in the <code>src</code> directory. These files are easier to read and understand than their
      compiled JavaScript counterparts.

    p Type the following into your console to run the automated build script (the <code>%</code> represents your prompt and should be ignored)
    pre(class='brush: shell').
      % cd /path/to/mathlex-source
      % make
    p.
      The compiled JS files will be written to <code>build/browser</code>. Individual components
      will be saved to the <code>build</code> directory and mimic the structure of the CoffeeScript
      files.

block javascripts
  script(src='#{path_prefix}javascripts/lib/syntaxhighlighter/scripts/XRegExp.js')
  script(src='#{path_prefix}javascripts/lib/syntaxhighlighter/scripts/shCore.js')
  script(src='#{path_prefix}javascripts/lib/syntaxhighlighter/scripts/shAutoloader.js')
