extends layout

block append vars
  next_page = {href: 'tree-nodes.html', title: 'Appendix B: List of All Syntax Tree Nodes'}

block append title
  | - Tokens

block article
  h1 Appendix A: List of All Recognized Symbols and Tokens
  table
    thead: tr
      th Token
      th Description
      th Recognized Symbol(s)
    tbody
      tr
        td: span.token TIdent
        td Identifier (variable or function name)
        td.
          A letter followed by zero or more letters, numbers, or underscores
          (e.g. <code>x Fn example_ident p2</code>)
      tr
        td: span.token TFloatLit
        td Literal decimal number and/or scientific notation
        td.
          Any number with a decimal point or 'e' somewhere in it
          (e.g. <code>0.3 -.125 3.14 6.02e23 1.602E-19</code>)
      tr
        td: span.token TIntLit
        td Integer
        td.
          One or more decimal digits
          (e.g. <code>1234 095 42 7</code>)
      tr
        td: span.token TConstant
        td A special identifier that has a numeric value
        td.
          Usually preceded by a <code>#</code> sign, but some keywords are recognized.
          See the <a href="#list-of-constants">list of constants</a> below.
      tr
        td: span.token TQForall
        td Universal Quantification ("for all")
        td: code forall
      tr
        td: span.token TQExists
        td Existential Quantification ("there exists")
        td: code exists
      tr
        td: span.token TQUnique
        td Unique Quantification ("there exists a unique")
        td: code unique
      tr
        td: span.token TIff
        td Biconditional Logical Operator ("if and only if")
        td: code &lt;-&gt; iff
      tr
        td: span.token TImplies
        td Conditional Logical Operator ("implies", "if-then")
        td: code -&gt; implies
      tr
        td: span.token TIf
        td Reverse Conditional Logical Operator ("implied by")
        td: code &lt;- if when whenever
      tr
        td: span.token TThen
        td Keyword used for parsing "if-then" implication
        td: code then
      tr
        td: span.token TAnd
        td Logical Conjunction
        td: code and &amp;&amp;
      tr
        td: span.token TOr
        td Logical Disjunction
        td: code or ||
      tr
        td: span.token TXor
        td Logical Exclusive-Or
        td: code xor
      tr
        td: span.token TNot
        td Logical Negation
        td: code not
      tr
        td: span.token TTilde
        td Tilde Character (used for negation and similarity)
        td: code ~
      tr
        td: span.token TLess
        td "Less Than" Relation Operator
        td: code &lt;
      tr
        td: span.token TLessEqual
        td "Less Than or Equal" Relation Operator
        td: code &lt;=
      tr
        td: span.token TEquiv
        td "Equivalent" Relation Operator
        td: code| === equiv
      tr
        td: span.token TNotEquiv
        td "Not Equivalent" Relation Operator
        td: code !== /== nequiv
      tr
        td: span.token TCongruent
        td "Congruent" Relation Operator
        td: code ~= congruent
      tr
        td: span.token TSimilar
        td "Similar To" Relation Operator
        td: code similar sim
      tr
        td: span.token TEqual
        td "Equal To" Relation Operator (for algebraic expressions)
        td: code| = ==
      tr
        td: span.token TNotEqual
        td "Not Equal To" Relation Operator (for algebraic expressions)
        td: code != /= &lt;&gt;
      tr
        td: span.token TRatioEqual
        td Equal Relation Operator for ratios ("[a is to b] as [c is to d]")
        td: code as
      tr
        td: span.token TParallel
        td "Parallel To" Relation Operator
        td: code parallel para
      tr
        td: span.token TPerpendicular
        td "Perpendicular To" Relation Operator
        td: code perpendicular perp
      tr
        td: span.token TGreaterEqual
        td "Greater Than or Equal To" Relation Operator
        td: code &gt;=
      tr
        td: span.token TGreater
        td "Greater Than" Relation Operator
        td: code &gt;
      tr
        td: span.token TSubset
        td Subset Relation Operator
        td: code subset
      tr
        td: span.token TPropSubset
        td Proper Subset Relation Operator
        td: code propersubset propsubset psubset
      tr
        td: span.token TSuperset
        td Superset Relation Operator
        td: code superset supset
      tr
        td: span.token TPropSuperset
        td Proper Superset Relation Operator
        td: code propersuperset propersupset propsuperset propsupset psuperset psupset
      tr
        td: span.token TIn
        td Inclusion Relation Operator
        td: code in
      tr
        td: span.token TPipe
        td Vertical Bar Character
        td: code |
      tr
        td: span.token TDivides
        td Divisibility Relation Operator
        td: code divides
      tr
        td: span.token TNotDivides
        td Negation of Divisibility Relation
        td: code !| ndivides ndivide notdivides notdivide
      tr
        td: span.token TUnion
        td Set Union Operator
        td: code union
      tr
        td: span.token TIntersect
        td Set Intersection Operator
        td: code intersect
      tr
        td: span.token TSetDiff
        td Set difference Operator
        td: code \\
      tr
        td: span.token TPlus
        td Addition
        td: code +
      tr
        td: span.token TMinus
        td Subtraction
        td: code -
      tr
        td: span.token TPlusMinus
        td "Plus or Minus"
        td: code &amp;pm +/-
      tr
        td: span.token TMinusPlus
        td "Minus or Plus"
        td: code &amp;mp -/+
      tr
        td: span.token TTimes
        td Multiplication
        td: code *
      tr
        td: span.token TDivide
        td Division
        td: code /
      tr
        td: span.token TSlash
        td Alternate "slash" division notation
        td: code &amp;/
      tr
        td: span.token TRatio
        td Rational comparison
        td: code ::
      tr
        td: span.token TModulus
        td Modular Arithmetic Operator
        td: code mod %
      tr
        td: span.token TExponent
        td Exponentiation/Power
        td: code ^ **
      tr
        td: span.token TSuperscript
        td Superscript Index Selector
        td: code &amp;^
      tr
        td: span.token TSubscript
        td Subscript Index Selector
        td: code &amp;_
      tr
        td: span.token TBang
        td Exclamation Point
        td: code !
      tr
        td: span.token TPrime
        td Differentiation Notation
        td: code '
      tr
        td: span.token TDotDiff
        td Alternate Differentiation Notation
        td: code.
          .
      tr
        td: span.token TCompose
        td Function Composition Operator
        td: code @
      tr
        td: span.token TReal
        td Real Part Filter Operator
        td: code &amp;Re
      tr
        td: span.token TImaginary
        td Imaginary Part Filter Operator
        td: code &amp;Im
      tr
        td: span.token TPartial
        td Partial Differential "D"
        td: code &amp;pd
      tr
        td: span.token TDifferential
        td Differential "D"
        td: code &amp;d
      tr
        td: span.token TChangeDelta
        td Difference Operator
        td: code &amp;D
      tr
        td: span.token TGradient
        td Gradient Operator ("del" or "grad")
        td: code &amp;del &amp;grad
      tr
        td: span.token TDivergence
        td Divergence Operator ("div")
        td: code &amp;del. &amp;div
      tr
        td: span.token TCurl
        td Curl Operator ("curl")
        td: code &amp;delx &amp;curl
      tr
        td: span.token TCross
        td Cross Product Operator
        td: code &amp;x
      tr
        td: span.token TDot
        td Dot Product Operator
        td: code &amp;.
      tr
        td: span.token TWedge
        td Wedge Product Operator
        td: code &amp;w
      tr
        td: span.token TTensor
        td Tensor Product Operator
        td: code &amp;ox
      tr
        td: span.token TDirectSum
        td Direct Sum Operator
        td: code &amp;o+
      tr
        td: span.token TCartesianProduct
        td Cartesian Product Operator
        td: code &amp;*
      tr
        td: span.token TVectorizer
        td The boldface style or arrow over a vector variable
        td: code &amp;v
      tr
        td: span.token TUnitVectorizer
        td Unit vector "hat" over a vector variable
        td: code &amp;u
      tr
        td: span.token TIntegral
        td Integration Symbol
        td: code integral Integral int Int &amp;integral &amp;Integral &amp;int &amp;Int
      tr
        td: span.token TLParen
        td Left (Open) Parenthesis
        td: code (
      tr
        td: span.token TRParen
        td Right (Close) Parenthesis
        td: code )
      tr
        td: span.token TLCurlyBrace
        td Left (Open) Curly Brace
        td: code {
      tr
        td: span.token TRCurlyBrace
        td Right (Close) Curly Brace
        td: code }
      tr
        td: span.token TLSqBracket
        td Left (Open) Square Bracket
        td: code [
      tr
        td: span.token TRSqBracket
        td Right (Close) Square Bracket
        td: code ]
      tr
        td: span.token TLRangeInclusive
        td Left Delimiter for Inclusive Range
        td: code [:
      tr
        td: span.token TRRangeInclusive
        td Right Delimiter for Inclusive Range
        td: code :]
      tr
        td: span.token TLRangeExclusive
        td Left Delimiter for Exclusive Range
        td: code (:
      tr
        td: span.token TRRangeExclusive
        td Right Delimiter for Exclusive Range
        td: code :)
      tr
        td: span.token TLPipe
        td Left Pipe Delimiter
        td: code |:
      tr
        td: span.token TRPipe
        td Right Pipe Delimiter
        td: code :|
      tr
        td: span.token TLDoublePipe
        td Left Double-Pipe ("Norm") Delimiter
        td: code ||:
      tr
        td: span.token TRDoublePipe
        td Right Double-Pipe ("Norm") Delimiter
        td: code :||
      tr
        td: span.token TLVector
        td Left Angle Bracket
        td: code &lt;:
      tr
        td: span.token TRVector
        td Right Angle Bracket
        td: code :&gt;
      tr
        td: span.token TColon
        td Colon Character
        td: code :
      tr
        td: span.token TSemicolon
        td Semi-Colon Character
        td: code ;
      tr
        td: span.token TComma
        td Comma separator
        td: code ,

  h2#list-of-constants List of Constants
  table
    thead: tr
      th Constant
      th Description
    tbody
      tr
        td: code #T #true true
        td Boolean constant <strong>True</strong>
      tr
        td: code #F #false false
        td Boolean constant <strong>False</strong>
      tr
        td: code #t #tau
        td: a(href='http://tauday.com', target='_blank') &tau; = 2 &pi; &asymp; 6.28318
      tr
        td: code #p #pi
        td &pi; &asymp; 3.14159
      tr
        td: code #e
        td e &asymp; 2.71828
      tr
        td: code #infinity infinity
        td &infin; &asymp; <span class="error">#!ERROR: memory overflow</span>
      tr
        td: code #N
        td Set of Natural Numbers
      tr
        td: code #Z
        td Set of Integers
      tr
        td: code #Q
        td Set of Rational Numbers
      tr
        td: code #R
        td Set of Real Numbers
      tr
        td: code #C
        td Set of Complex Numbers
      tr
        td: code #H
        td Set of Quaternion Numbers
      tr
        td: code #O
        td Set of Octonian Numbers
      tr
        td: code #U
        td Universal Set
      tr
        td: code #v0
        td Zero Vector
      tr
        td: code #vi #ui
        td <em>x</em>-axis unit vector
      tr
        td: code #vj #uj
        td <em>y</em>-axis unit vector
      tr
        td: code #vk #uk
        td <em>z</em>-axis unit vector
      tr
        td: code #0
        td Zero Matrix
      tr
        td: code #1
        td One Matrix
      tr
        td: code #I
        td Identity Matrix
