extends layout

block append vars
  prev_page = {href: 'tokens.html', title: 'Appendix A: List of All Recognized Symbols and Tokens'}

block append title
  | Tree Nodes

block article
  h1 Appendix B: List of All Syntax Tree Nodes
  p.
    This is a comprehensive list of all math operations that MathLex recognizes. In JavaScript,
    each node is represented as an Array, the 0<sup>th</sup> index of which is a string ID.
    Any additional information is stored in the indices as described by each node type below.
  p Note that most of the tree nodes correspond to their <a href="tokens.html">operator tokens</a>.
  p Unless otherwise noted, each purple "slot" is a (recursive) container for other node types.

  dl.nodes
    dt: span.node Empty
    dt: span.node Equivalent
      span lhs
      span rhs
    dt: span.node Iff
      span lhs
      span rhs
    dt: span.node Implies
      span hypothesis
      span conclusion
      span syntax_used
    dd.
      <code>systax_used</code> is a boolean variable indicating whether the "implies" (true)
      or "implied by" (false) syntax was used
    dt: span.node Or
      span lhs
      span rhs
    dt: span.node Xor
      span lhs
      span rhs
    dt: span.node And
      span lhs
      span rhs
    dt: span.node Not
      span clause
    dt: span.node Forall
      span relation
      span quantified_statement
    dt: span.node Exists
      span relation
      span quantified_statement
    dt: span.node Unique
      span relation
      span quantified_statement
    dt: span.node Equal
      span lhs
      span rhs
    dt: span.node NotEqual
      span lhs
      span rhs
    dt: span.node RatioEqual
      span lhs
      span rhs
    dt: span.node Congruent
      span lhs
      span rhs
    dt: span.node Similar
      span lhs
      span rhs
    dt: span.node Parallel
      span lhs
      span rhs
    dt: span.node Perpendicular
      span lhs
      span rhs
    dt: span.node Less
      span lhs
      span rhs
    dt: span.node LessEqual
      span lhs
      span rhs
    dt: span.node GreaterEqual
      span lhs
      span rhs
    dt: span.node Greater
      span lhs
      span rhs
    dt: span.node Subset
      span lhs
      span rhs
    dt: span.node Superset
      span lhs
      span rhs
    dt: span.node ProperSubset
      span lhs
      span rhs
    dt: span.node ProperSuperset
      span lhs
      span rhs
    dt: span.node Inclusion
      span lhs
      span rhs
    dt: span.node Divides
      span lhs
      span rhs
    dt: span.node NotDivides
      span lhs
      span rhs
    dt: span.node Ratio
      span lhs
      span rhs
    dt: span.node PlusMinus
      span lhs
      span rhs
    dt: span.node MinusPlus
      span lhs
      span rhs
    dt: span.node Plus
      span lhs
      span rhs
    dt: span.node Minus
      span lhs
      span rhs
    dt: span.node Times
      span lhs
      span rhs
    dt: span.node Divide
      span lhs
      span rhs
    dt: span.node Modulus
      span lhs
      span rhs
    dt: span.node Exponent
      span lhs
      span rhs
    dt: span.node Superscript
      span lhs
      span rhs
    dt: span.node Subscript
      span lhs
      span rhs
    dt: span.node DotProduct
      span lhs
      span rhs
    dt: span.node CrossProduct
      span lhs
      span rhs
    dt: span.node WedgeProduct
      span lhs
      span rhs
    dt: span.node TensorProduct
      span lhs
      span rhs
    dt: span.node Compose
      span lhs
      span rhs
    dt: span.node Union
      span lhs
      span rhs
    dt: span.node Intersection
      span lhs
      span rhs
    dt: span.node SetDiff
      span lhs
      span rhs
    dt: span.node DirectSum
      span lhs
      span rhs
    dt: span.node CartesianProduct
      span lhs
      span rhs
    dt: span.node PosNeg
      span expr
    dt: span.node NegPos
      span expr
    dt: span.node Positive
      span expr
    dt: span.node Negative
      span expr
    dt: span.node Vectorizer
      span expr
    dt: span.node UnitVectorizer
      span expr
    dt: span.node Partial
      span expr
    dt: span.node Differential
      span expr
    dt: span.node Change
      span expr
    dt: span.node Gradient
      span expr
    dt: span.node Divergence
      span expr
    dt: span.node Curl
      span expr
    dt: span.node Factorial
      span expr
    dt: span.node Prime
      span expr
    dt: span.node DotDiff
      span expr
    dt: span.node Function
      span func_builder
      span arguments
    dt: span.node Variable
      span name
    dt: span.node Literal
      span type
      span value
    dd <code>type</code> is either 'Int' or 'Float'
    dt: span.node Constant
      span name
    dt: span.node Vector
      span components
    dt: span.node Bra
      span expr
    dt: span.node Ket
      span expr
    dt: span.node BraKet
      span lhs
      span rhs
    dt: span.node List
      span elements
    dt: span.node Range
      span left_inclusive
      span lower_bound
      span upper_bound
      span right_inclusive
    dd <code>left_inclusive</code> and <code>right_inclusive</code> parameters are boolean values
    dt: span.node AbsVal
      span expr
    dt: span.node Norm
      span expr
    dt: span.node Parentheses
      span expr
    dt: span.node Integral
      span expr
      span differential
      span bounds
    dd <code>bounds</code> is a JS object containing a <code>lo</code> index, <code>hi</code> index, both, or none
    dt: span.node EmptySet
    dt: span.node Set
      span components
    dt: span.node SetBuilder
      span build_expr
      span predicates
