extends layout

block vars
  page_id = 'demo'

block append title
  | - Demo

block content
  p.
    Until I have a chance to move it here, the demo page is available
    <a href="http://mymathapps.com/demos/mathlex">at its original abode</a>.
