extend layout

block content
  .two.cols.border
    .col: p.
        MathLex is a quick and easy way to start accepting math input on your
        website. Just download the <code>mathlex.js</code> file, place it in your
        site's JS directory, and follow the <a href="quick-start.html">quick start</a> instructions.
    .col.align-center: a.download(data-icon='&#59256;', href='javascripts/mathlex.js', download='mathlex.js') Download

  h2#demo See MathLex in Action
  p.
    Check out our <a href="demo.html">demo page</a> for a taste of what
    MathLex can do.
